:root {
  --primary-color: hsl(0, 100%, 80%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 100%);
  --bg-card-color: hsl(96, 19%, 79%);
  --border-radius: 0.8em;
  --border-color: #000000;
  --transition: all 0.5s ease-out;
  --link-color: hsl(207, 88%, 27%);
}

/* Fonts */

@font-face {
  font-family: "Nunito-Regular";
  src: url(/assets/fuentes/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/assets/fuentes/Poppins/Poppins-Medium.ttf);
}

/* Body, colors and fonts */
* {
  box-sizing: border-box;
  font-family: "Nunito-Regular", "Poppins-Medium", "Arial";
}

body {
  margin: 0;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}

body.dark {
  --primary-color: hsl(264, 70%, 56%);
  --text-color: hsl(0, 0%, 83%);
  --bg-card-color: hsl(0, 0%, 20%);
  --bg-color: hsl(0, 0%, 15%);
  --link-color: hsl(298, 100%, 75%);
  --border-color: #fff;


  /* 
  --link-color: hsl(243, 97%, 71%);
  --link-color: hsl(265, 100%, 75%);
  */
}

/* responsive:
desktops
@media (max-width:1020px)

mobiles
@media (max-width:800px)
*/

/* header */

.header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.toggle-theme__icon {
  margin: 0.5em;
  width: 30px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.menu {
  color: var(--link-color);
  padding: 0.5em;
  cursor: pointer;
  justify-content: space-between;
  transition: var(--transition);
  margin-right: 10px;
}

.logo {
  width: 75px;
}

@media screen and (max-width: 915px){
  .menu {
    padding: .5em;
  }
  .toggle-theme {
    padding: .2em;
  }
}
/* header end */

/* profile */

.title {
  color: var(--link-color);
}

.image-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background-color: var(--bg-card-color);
}

.card {
  padding: 1em;
  display: flex;
  margin: 0.5em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}
/* 
@media screen (max-width: 900px){
  
}
*/

.profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.links-profile {
  display: flex;
}

.link-container {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  color: var(--link-color);
  padding: 0.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.link {
  color: var(--link-color);
}

.icon {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.card__image {
  display: flex;
  width: 315px;
  border-radius: var(--border-radius);
}

.card__text {
  font-size: 1.2rem;
}

.image-profile {
  margin-right: 1em;
}

/* habilities */

.habilities {
  margin-left: 0.5em;
}

.image-habilities {
  width: 315px;
}

/* tecnologias */

.title-tecnologia {
  margin: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
  width: 12.2%;
  margin: 0.5em;
}

.img-tec-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: .5em;
  border: 3px solid blue;
}

.image-tecnologia {
  max-width: 100%;
  border: 5px solid red;
}

/* 

.html-image {
  width: 205px;
}
@media screen (max-width:1024px){
 .img-tec-container{
  flex-direction: column;
 } 
 .title-tecnologia{
 width: 30%; 
 }
}
*/

/* Projectos 
.project-container {
  display: flex;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  padding: 1em;
  margin: 0.5em;
}
*/

.project {
  margin: 0.5em;
}

.project__tag {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
  margin: 0.5em;
}

.button {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 2px solid #fff;
  color: var(--link-color);
  padding: 0.5em;
  margin: 0.5em;
}

/* projects end */

/*  Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 1em;
  margin-top: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.post-footer {
  display: flex;
  justify-content: space-between;
}